SingleCycle/project/singlecycle.cache
SingleCycle/project/singlecycle.hw
SingleCycle/project/singlecycle.ip_user_files
SingleCycle/project/singlecycle.sim
Pipeline/project/pipeline.cache
Pipeline/project/pipeline.hw
Pipeline/project/pipeline.ip_user_files
Pipeline/project/pipeline.sim